
body {
    height: 100%;
}

.header{
    
    background-image: url(../../assets/img/re.jpg);

    background-position:top;
    background-size: cover;
    height: 400px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    opacity: 97%;
    margin-bottom: 200px;
}