body {
    height: 100%;
}

.header{
 
    background-position:top;
    background-size: cover;
    
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    
}

.orange{
    height: 400px;
    width: 100%;
}

.logo{
    position: absolute;
    top: 30%;
    right: 20%;
}
.wrapper {
    position: relative;
  }

